{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint",
      "prettier"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier"
    ],
    "rules": {
        "prettier/prettier": 2,
        "camelcase": "warn",
        "arrow-body-style": "warn",
        "capitalized-comments": "warn",
        "curly": "warn",
        "eqeqeq": "warn",
        "new-cap": "warn",
        "no-eval": "warn",
        "no-extra-semi": "warn",
        "no-unused-expressions": "warn"
    }
  }